html { width:100%; height:100%; }
body {
    width:100%;
    height:100%;
    overflow:hidden;
    
    background:#333333;
    background:-moz-linear-gradient(top, #333333, #000000);
    background:-webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000));
}

#HIDE_SELECTION,
::-webkit-selection,
::selection,
::-moz-selection,
::-webkit-selection,
::selection,
::-moz-selection {
    background-color:transparent !important;
}

#ROUND_CORNERS,
.app-boxart,
.app-boxart-container {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius:10px;
}
#TOPLEFT_TOPRIGHT_CORNERS,
.app-title {
    border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    
    border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
}

#REFLECTION,
.app-boxart {
    -webkit-box-reflect:below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, 0.2)));
}

#APP_HOVER,
.app-boxart-container:hover, .selected {
    -webkit-box-shadow:0 5px 50px rgba(255,0,0,.8) !important;
    -moz-box-shadow:0 5px 50px rgba(255,0,0,.8) !important;
    box-shadow:0 5px 50px rgba(255,0,0,.8) !important;
}

#applications-types-container {
    position:absolute;
    height:100%;
    width:300px;
    padding-left:20px;
    padding-top:15%;
    z-index:100;
    
    background:-webkit-gradient(linear, 100% 60%, 60% 60%, from(transparent), to(rgba(0, 0, 0, 0.9)));
}

#applications-scroll-container {
    overflow:hidden;
}
#applications-container {
    position:absolute;
    width:100%;
    height:750px;
    float:right;
    top:20%;
    left:355px;
    white-space:nowrap;
}



.app {
    display:inline-block;
    width:355px;
    height:500px;
    padding:20px;
    
    cursor:pointer;
}

.app-boxart {
    position:relative;
    width:355px;
    height:500px;
    z-index:5;
    
    background-size:100% 100%;
}

.app-boxart-container {
    width:355px;
    height:500px;
    -webkit-box-shadow:0 5px 50px rgba(0,0,0,.8);
    -moz-box-shadow:0 5px 50px rgba(0,0,0,.8);
    box-shadow:0 5px 50px rgba(0,0,0,.8);
    
    background-color:black;
    border:1px solid black;
}

.app-title {
    position:relative;
    margin-bottom:-5px;
    padding-bottom:25px;
    padding-top:15px;

    background-color:rgba(0,0,0,0.8);
    
    text-align:center;
    font-family:Helvetica, Verdana, sans-serif;
    font-size:40px;
    line-height:40px;
    font-weight:bold;
    color:#666666;
    
    text-shadow:1px 1px 1px white, 1px 1px 10px black;
    
    -webkit-box-shadow:0 10px 10px rgba(0,0,0,.5);
    -moz-box-shadow:0 10px 10px rgba(0,0,0,.5);
    box-shadow:0 10px 10px rgba(0,0,0,.5);
}

.application-type {
    font-family:Helvetica, Verdana, sans-serif;
    font-size:40px;
    line-height:40px;
    font-weight:bold;
    color:#666666;
    cursor:pointer;
    margin-bottom:20px;
    
    text-shadow:1px 1px 1px white, 1px 1px 10px black;
}
.application-type:hover {
    color:#ccc;
}