/nbproject/
/setup/jetty-openbd/webapps/openbd/WEB-INF/bluedragon/work/temp/
/setup/mongodb/data/db/boomerdb.0
/setup/mongodb/data/db/boomerdb.ns
/setup/jetty-openbd/webapps/openbd/WEB-INF/bluedragon/bluedragon.xml.bak.1
/setup/jetty-openbd/webapps/openbd/WEB-INF/bluedragon/bluedragon.xml.bak.3
/setup/jetty-openbd/webapps/openbd/WEB-INF/bluedragon/bluedragon.xml.bak.2
/setup/jetty-openbd/webapps/openbd/WEB-INF/bluedragon/bluedragon.xml.bak.5
/setup/jetty-openbd/webapps/openbd/WEB-INF/bluedragon/bluedragon.xml.bak.4
/setup/jetty-openbd/webapps/openbd/WEB-INF/bluedragon/bluedragon.xml.bak.7
/setup/jetty-openbd/webapps/openbd/WEB-INF/bluedragon/bluedragon.xml.bak.6
/setup/jetty-openbd/webapps/openbd/WEB-INF/bluedragon/bluedragon.xml.bak.10
/setup/jetty-openbd/webapps/openbd/WEB-INF/bluedragon/bluedragon.xml.bak.8
/setup/jetty-openbd/webapps/openbd/WEB-INF/bluedragon/bluedragon.xml.bak.9
/setup/mongodb/data/db/journal/